<article class="p-postCard">
  <a href="{{ .Permalink }}" class="p-postCard__link">
    <div class="p-postCard__img">
      {{ if .Params.coverImage }}
      <img src="{{ "/weather-note/images/" | relURL }}{{ .Params.coverImage }}" alt="{{ .Title }}" loading="lazy">
      {{ else }}
      <div class="p-postCard__img--placeholder"></div>
      {{ end }}
    </div>
    <div class="p-postCard__body">
      {{ with .Params.categories }}
      <div class="p-postCard__cats">
        {{ range . }}<span class="p-postCard__cat">{{ . }}</span>{{ end }}
      </div>
      {{ end }}
      <h3 class="p-postCard__title">{{ .Title }}</h3>
      <time class="p-postCard__date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年1月2日" }}</time>
    </div>
  </a>
</article>
